/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
	Body
*/
body {
    overflow-x: hidden;
    background-color: #0B4C63;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;

    z-index: -1;

    background-image: linear-gradient(bottom, rgb(10, 46, 61) 0%, rgb(11, 76, 99) 84%);
    background-image: -o-linear-gradient(bottom, rgb(10, 46, 61) 0%, rgb(11, 76, 99) 84%);
    background-image: -moz-linear-gradient(bottom, rgb(10, 46, 61) 0%, rgb(11, 76, 99) 84%);
    background-image: -webkit-linear-gradient(bottom, rgb(10, 46, 61) 0%, rgb(11, 76, 99) 84%);
    background-image: -ms-linear-gradient(bottom, rgb(10, 46, 61) 0%, rgb(11, 76, 99) 84%);

    background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0, rgb(11, 76, 99)),
            color-stop(0.84, rgb(10, 46, 61))
    );
}

.container {
    width: 851px;
    margin: 0 auto;

    z-index: 100;

    background-color: #f2f2f2;
    border-left: 1px solid #f2f2f2;
    border-right: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.playback-control {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 64px;
    height: 64px;
}

.playback-control .amplitude-play-pause {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 23px;
    width: 20px;
    margin: 0 -50% 0 0;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.playback-control .amplitude-paused:before {
    position: absolute;
    top: 0;
    content: "\F04B";
    font-family: FontAwesome;
    font-size: 24px;
}

.playback-control .amplitude-playing:before {
    position: absolute;
    top: 0;
    content: "\F04D";
    font-family: FontAwesome;
    font-size: 24px;
}

.timer {
    display: inline-block;
    vertical-align: top;
    width: 40px;
    height: 64px;
    margin-right: 10px;
    line-height: 64px;

    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #676261;
}

.volume-control {
    display: inline-block;
    vertical-align: top;
    width: 64px;
    height: 64px;
    margin-right: 15px;
    border: 1px solid #bababa;
}

.volume-control .volume-control-readout {
    float: left;
    clear: none;
    position: relative;
    width: 24px;
    height: 64px;
    background-color: #dddddd;
}

.volume-control .volume-control-readout .volume-label {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: rgba(10, 46, 61, 0.51);
}

.volume-control .volume-control-readout .volume-value {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #0e8bae;
}

.volume-control .volume-control-buttons {
    float: left;
    clear: none;
    border-right: 1px solid #bababa;
}

.volume-control .volume-control-buttons button {
    display: block;
    width: 39px;
    height: 32px;
    padding: 0;
    cursor: pointer;
    background-color: #f2f2f2;
    border: none;
}

.volume-control .volume-control-buttons button:hover {
    background-color: #bababa;
}

.volume-control .volume-control-buttons button:first-child {
    height: 32px;
}

.metadata {
    display: inline-block;
    vertical-align: top;
    height: 64px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.metadata .metadata-info {
    font-weight: 500;
    font-size: 16px;
}

.metadata .song-title {
    font-weight: 300;
    font-size: 16px;
    color: #353535;
    line-height: 64px;
}

.metadata .song-details {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #bebebe;
}

.irc {
    height: 550px;
}